@font-face {
  font-family: 'SF Pro';
  src: url("../fonts/SFProDisplay-Thin.ttf");
  font-style: normal;
  font-weight: 100;
  display: swap;
}
@font-face {
  font-family: 'SF Pro';
  src: url("../fonts/SFProDisplay-Light.ttf");
  font-style: normal;
  font-weight: 300;
  display: swap;
}
@font-face {
  font-family: 'SF Pro';
  src: url("../fonts/SFProDisplay-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  display: swap;
}
@font-face {
  font-family: 'SF Pro';
  src: url("../fonts/SFProDisplay-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  display: swap;
}
@font-face {
  font-family: 'SF Pro';
  src: url("../fonts/SFProDisplay-Semibold.ttf");
  font-style: normal;
  font-weight: 600;
  display: swap;
}
@font-face {
  font-family: 'SF Pro';
  src: url("../fonts/SFProDisplay-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  display: swap;
}
@font-face {
  font-family: 'SF Pro';
  src: url("../fonts/SFProDisplay-Heavy.ttf");
  font-style: bold;
  font-weight: 800;
  display: swap;
}
@font-face {
  font-family: 'SF Pro';
  src: url("../fonts/SFProDisplay-Black.ttf");
  font-style: bold;
  font-weight: 800;
  display: swap;
}