$main-asd: #1BC5ED;

$all-main-blue: #007AFF;
$all-main-black: #434343;
$all-main-gray: #B7B7B7;
$all-main-light-gray: #f9f9f9;
$all-main-active-gray: #979797;
$all-main-white: #ffffff;

$Big-Blur: 2px 2px 5px rgba(0, 0, 0, 0.15);;
$Map-Shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(0, 0, 0, 0.05);

// All/Main color variables
$all-main: (
  "blue": #007AFF,
  "black": #434343,
  "gray": #B7B7B7,
  "light-gray": #F8F8F8,
  "active-gray": #979797,
  "caution": #FF7676,
  "white": #ffffff,
);
$all-buttons: (
  "error": #F40F0F,
  "default": #C9C9C9,
  "disabled": #f0f0f0,
);

$specs: (
  "icons": #62B4FF,
  "messages-bg": #62B4FF,
  "btn-default": #007AFF,
  "btn-pressed": #005ABD,
  "stroke-active": #0F84F4,
  "inner-success": #F9FBFF,
);

$illustrations: (
  "skin-color": #EB7962,
);
