// PC
@media (min-width: 1200px) {
}

// Tablet -- Horizontal
@media (min-width: 960px) and (max-width: 1200px) {
}

// Tablet -- Vertical
@media (min-width: 640px) and (max-width: 960px) {
}

// Phone -- Horizontal
@media (min-width: 480px) and (max-width: 640px) {
}

// Phone -- Vertical
@media (min-width: 320px) and (max-width: 480px) {
}