// PC
@media (min-width: 1200px) {
  .Client {
    margin: 0;
    width: 1090px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .Button-Back {
      height: 24px;
      width: 78px;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-transform: capitalize;
      color: #007AFF;
      background-color: transparent;
      font-size: 16px;
      line-height: 19px;
      outline: none;
      border: none;
      cursor: pointer;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .Header {
      margin-top: 20px;
      width: 1090px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .Client-Info {
        width: 505px;
        height: 272px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 
            0px 20px 40px rgba(0, 0, 0, 0.05);
        .Primary {
          margin: 35px 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .Avatar {
            margin-right: 20px;
            width: 86px;
            height: 86px;
            border-radius: 50%;
          }
          .Secondary {
            display: flex;
            flex-direction: column;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #434343;
            .Name {
              font-size: 24px;
              line-height: 29px;
              color: #434343;
              font-weight: 500;
            }
          }
        }
        .General {
          margin: 30px;
          margin-top: 0;
          height: 40px;
          width: 445px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center; 
          .Phone {
            margin: 0 10px;
            width: 217px;
            height: 40px;
            text-align: center;
            background-color: #F8F8F8;
            border-radius: 6px;
            grid-area: 2 / 1 / 3 / 2; 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
              font-size: 16px;
              line-height: 19px;
              font-weight: 400;
              color: #007AFF;
            }
            svg {
              margin: 0 10px;
            }
          }
          .Email {
            margin: 0 10px;
            width: 217px;
            height: 40px;
            text-align: center;
            background-color: #F8F8F8;
            border-radius: 6px;
            grid-area: 2 / 2 / 3 / 3;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
              font-size: 16px;
              line-height: 19px;
              font-weight: 400;
              color: #007AFF;
            }
            svg {
              margin: 0 10px;
            }
          }
        }
      }
      .Money-Info {
        margin-left: 20px;
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        grid-row-gap: 10px;
        width: 570px;
        .Shorts {
          display: grid; 
          grid-template-columns: repeat(2, 1fr); 
          grid-template-rows: 1fr;
          grid-area: 1 / 1 / 2 / 3;
          grid-column-gap: 10px;
          width: 570px;
          .Price {
            grid-area: 1 / 1 / 2 / 2;
            height: 131px;
            width: 275px;
            border-radius: 15px;
            background-color: #F8F8F8;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .Title {
              font-weight: bold;
              font-size: 38px;
              line-height: 46px;
              color: #434343
            }
            p {
              font-weight: normal;
              font-size: 16px;
              line-height: 19px;
              color: #979797;
            }
            .SVG {
              margin: 0 20px;
              height:60px;
              width: 60px;
              > svg {
                height: 60px;
                width: 60px;
              }
            }
          }
          .Time {
            grid-area: 1 / 2 / 2 / 3; 
            height: 131px;
            width: 275px;
            border-radius: 15px;
            background-color: #F8F8F8;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .Title {
              font-weight: bold;
              font-size: 38px;
              line-height: 46px;
              color: #434343
            }
            p {
              font-weight: normal;
              font-size: 16px;
              line-height: 19px;
              color: #979797;
            }
            .SVG {
              margin: 0 20px;
              height: 60px;
              width: 60px;
              > svg {
                height: 60px;
                width: 60px;
              }
            }
          }
        }
        .Long {
          grid-area: 2 / 1 / 3 / 3;
          border-radius: 15px;
          background-color: #F8F8F8;
          height: 131px;
          width: 570px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          .Title {
            font-weight: bold;
            font-size: 38px;
            line-height: 46px;
            color: #434343
          }
          p {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #979797;
          }
          .SVG {
            margin: 0 20px;
            height: 60px;
            width: 60px;
            > svg {
              height: 60px;
              width: 60px;
            }
          }
        }
      }
    }
    .Active {
      margin: 20px 0;
      height: 255px;
      width: 1090px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      overflow: hidden;
      background-color: #F8F8F8;
      border-radius: 15px;
      & > .Title {
        margin: 30px;
        margin-bottom: 20px !important;
        font-size: 38px;
        line-height: 42px;
        font-weight: 500;
        color: #434343;
      }
    }
    .History {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      overflow: hidden;
      min-height: 600px;
      width: 1090px;
      & > .Header {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1140px;
        .Title {
          font-size: 32px;
          line-height: 46px;
          font-weight: 500;
          color: #434343;
        }
        .Right {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin: 0 10px;
        }
      }
      & > .Content {
        width: 1090px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }
  }
  .Filter {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    min-height: 55px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    cursor: pointer;
    .Text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #434343;
    }
    .Selected {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #434343;
    }
    p {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #007AFF;
    }
  }
  .SessionCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 136px;
    width: 1090px;
    background-color: #f7f7f7;
    box-shadow: none;
    border-radius: 15px;
    margin-bottom: 10px;
    .Left {
      margin-left: 30px;
      width: 345px;
      display: flex;
      flex-direction: row;
      justify-self: flex-start;
      align-items: center;
      justify-content: flex-start;
      & > div {
        width: 239px;
        height: 50px;
        display: flex;
        flex-direction: column;
        p {
          font-size: 16px;
          font-weight: 300;
          color: #979797;
        }
        .Name {
          font-size: 28px;
          font-weight: 500;
          color: #434343;
        }

      }
      .id {
        width: 66px;
        height: 44px;
        font-size: 16px;
        font-weight: 300;
        color: #979797;
      }
    }
    .Right {
      margin-right: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      .Times {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .Box {
        margin: 0 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 162px;
        height: 60px;
        background: #F8F8F8;
        border: 0.5px solid #979797;
        box-sizing: border-box;
        border-radius: 6px;
        font-size: 24px;
        font-weight: 400;
        color: #434343;
        p {
          font-size: 14px;
          line-height: 17px;
          font-weight: 300;
          color: #434343;
        } 
      }
    }
    &.-active {
      margin: 0 20px !important;
      margin-bottom: 20px !important;
      width: 1050px !important;
      align-self: center;
      background-color: #FFFFFF !important;
      .Right {
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        .Box {
          margin: 0 10px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 162px;
          height: 60px;
          background: #F8F8F8;
          border: none !important;
          box-sizing: border-box;
          border-radius: 6px;
          font-size: 24px;
          font-weight: 400;
          color: #434343;
          p {
            font-size: 14px;
            line-height: 17px;
            font-weight: 300;
            color: #434343;
          } 
        }
      }
      button {
        margin-right: 30px;
        height: 60px;
        width: 162px;
        color: #F40F0F;
        background-color: transparent;
        border-radius: 6px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
          background-color: #FFE6E6; 
        }
      }
    }
  }
}

// Tablet -- Horizontal
@media (min-width: 960px) and (max-width: 1119px) {
  .Client {
    margin: 0;
    width: 880px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .Button-Back {
      height: 24px;
      width: 78px;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-transform: capitalize;
      color: #007AFF;
      background-color: transparent;
      font-size: 16px;
      line-height: 19px;
      outline: none;
      border: none;
      cursor: pointer;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .Header {
      margin-top: 20px;
      width: 880px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .Client-Info {
        width: 435px;
        height: 210px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 
            0px 20px 40px rgba(0, 0, 0, 0.05);
        .Primary {
          margin: 30px;
          margin-bottom: 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .Avatar {
            margin-right: 20px;
            width: 86px;
            height: 86px;
            border-radius: 50%;
          }
          .Secondary {
            display: flex;
            flex-direction: column;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #434343;
            .Name {
              font-size: 24px;
              line-height: 29px;
              color: #434343;
              font-weight: 500;
            }
          }
        }
        .General {
          margin: 30px;
          margin-top: 20px;
          height: 40px;
          width: 370px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center; 
          .Phone {
            margin: 0 10px;
            width: 180px;
            height: 40px;
            text-align: center;
            background-color: #F8F8F8;
            border-radius: 6px;
            grid-area: 2 / 1 / 3 / 2; 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
              font-size: 16px;
              line-height: 19px;
              font-weight: 400;
              color: #007AFF;
            }
            svg {
              margin: 0 10px;
            }
          }
          .Email {
            margin: 0 10px;
            width: 180px;
            height: 40px;
            text-align: center;
            background-color: #F8F8F8;
            border-radius: 6px;
            grid-area: 2 / 2 / 3 / 3;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
              font-size: 16px;
              line-height: 19px;
              font-weight: 400;
              color: #007AFF;
            }
            svg {
              margin: 0 10px;
            }
          }
        }
      }
      .Money-Info {
        margin-left: 20px;
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        width: 435px;
        .Shorts {
          display: grid; 
          grid-template-columns: repeat(2, 1fr); 
          grid-template-rows: 1fr;
          grid-area: 1 / 1 / 2 / 3;
          grid-column-gap: 10px;
          width: 435px;
          .Price {
            grid-area: 1 / 1 / 2 / 2;
            height: 100px;
            width: 213px;
            border-radius: 15px;
            background-color: #F8F8F8;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .Title {
              font-weight: bold;
              font-size: 24px;
              line-height: 29px;
              color: #434343
            }
            p {
              font-weight: normal;
              font-size: 14px;
              line-height: 17px;
              color: #979797;
            }
            .SVG {
              margin: 0 20px;
              height:40px;
              width: 40px;
              > svg {
                height: 40px;
                width: 40px;
              }
            }
          }
          .Time {
            grid-area: 1 / 2 / 2 / 3; 
            height: 100px;
            width: 213px;
            border-radius: 15px;
            background-color: #F8F8F8;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .Title {
              font-weight: bold;
              font-size: 24px;
              line-height: 29px;
              color: #434343
            }
            p {
              font-weight: normal;
              font-size: 14px;
              line-height: 17px;
              color: #979797;
            }
            .SVG {
              margin: 0 20px;
              height: 40px;
              width: 40px;
              > svg {
                height: 40px;
                width: 40px;
              }
            }
          }
        }
        .Long {
          grid-area: 2 / 1 / 3 / 3;
          border-radius: 15px;
          background-color: #F8F8F8;
          height: 100px;
          width: 435px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          .Title {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: #434343
          }
          p {
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #979797;
          }
          .SVG {
            margin: 0 20px;
            height: 40px;
            width: 40px;
            > svg {
              height: 40px;
              width: 40px;
            }
          }
        }
      }
    }
    .Active {
      margin: 20px 0;
      height: 255px;
      width: 880px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      overflow: hidden;
      background-color: #F8F8F8;
      border-radius: 15px;
      & > .Title {
        margin: 30px;
        margin-bottom: 20px;
        font-size: 38px;
        line-height: 42px;
        font-weight: 500;
        color: #434343;
      }
    }
    .History {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      overflow: hidden;
      min-height: 600px;
      width: 880px;
      & > .Header {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 880px;
        .Title {
          width: 372px;
          font-size: 38px;
          line-height: 46px;
          font-weight: 500;
          color: #434343;
        }
        .Right {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin: 0 10px;
        }
      }
      & > .Content {
        width: 880px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }
  }
  .Filter {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    min-height: 55px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    cursor: pointer;
    .Text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #434343;
    }
    .Selected {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #434343;
    }
    p {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #007AFF;
    }
  }
  .SessionCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 136px;
    width: 880px;
    background-color: #f7f7f7;
    box-shadow: none;
    border-radius: 15px;
    margin-bottom: 10px;
    .Left {
      margin-left: 30px;
      width: 305px;
      display: flex;
      flex-direction: row;
      justify-self: flex-start;
      align-items: center;
      justify-content: flex-start;
      & > div {
        width: 200px;
        height: 50px;
        display: flex;
        flex-direction: column;
        p {
          font-size: 16px;
          line-height: 19px;
          font-weight: 300;
          color: #979797;
        }
        .Name {
          font-size: 24px;
          line-height: 29px;
          font-weight: 500;
          color: #434343;
        }
      }
      .id {
        margin: 0 10px;
        width: 66px;
        height: 44px;
        font-size: 16px;
        font-weight: 300;
        color: #979797;
      }
    }
    .Right {
      margin-right: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      .Times {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .Box {
        margin: 0 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 150px;
        height: 60px;
        background: #F8F8F8;
        border: 0.5px solid #979797;
        box-sizing: border-box;
        border-radius: 6px;
        font-size: 24px;
        font-weight: 400;
        color: #434343;
        p {
          font-size: 14px;
          line-height: 17px;
          font-weight: 300;
          color: #434343;
        } 
      }
    }
    &.-active {
      margin: 0 20px !important;
      margin-bottom: 20px !important;
      width: 820px !important;
      align-self: center;
      background-color: #FFFFFF !important;
      .Right {
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        .Box {
          margin: 0 7px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          min-width: min-content;
          width: 110px;
          height: 60px;
          background: #F8F8F8;
          border: none !important;
          box-sizing: border-box;
          border-radius: 6px;
          font-size: 18px;
          line-height: 21px;
          font-weight: 400;
          color: #434343;
          p {
            font-size: 14px;
            line-height: 17px;
            font-weight: 300;
            color: #434343;
          } 
        }
      }
      button {
        margin-right: 20px;
        height: 60px;
        width: 110px;
        color: #F40F0F;
        background-color: transparent;
        border-radius: 6px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
          background-color: #FFE6E6; 
        }
      }
    }
  }
}

// Tablet -- Vertical
@media (min-width: 640px) and (max-width: 959px) {
  .Client {
    margin: 0;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .Button-Back {
      height: 24px;
      width: 78px;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-transform: capitalize;
      color: #007AFF;
      background-color: transparent;
      font-size: 16px;
      line-height: 19px;
      outline: none;
      border: none;
      cursor: pointer;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .Header {
      margin-top: 20px;
      margin-bottom: 40px;
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .Client-Info {
        margin-bottom: 40px;
        width: 600px;
        height: 272px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 
            0px 20px 40px rgba(0, 0, 0, 0.05);
        .Primary {
          margin: 35px 35px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .Avatar {
            margin-right: 20px;
            width: 86px;
            height: 86px;
            border-radius: 50%;
          }
          .Secondary {
            display: flex;
            flex-direction: column;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #434343;
            .Name {
              font-size: 24px;
              line-height: 29px;
              color: #434343;
              font-weight: 500;
            }
          }
        }
        .General {
          margin: 30px;
          margin-top: 0;
          height: 40px;
          width: 540px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center; 
          .Phone {
            margin: 0 10px;
            width: 230px;
            height: 40px;
            text-align: center;
            background-color: #F8F8F8;
            border-radius: 6px;
            grid-area: 2 / 1 / 3 / 2; 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
              font-size: 16px;
              line-height: 19px;
              font-weight: 400;
              color: #007AFF;
            }
            svg {
              margin: 0 10px;
            }
          }
          .Email {
            margin: 0 10px;
            width: 230px;
            height: 40px;
            text-align: center;
            background-color: #F8F8F8;
            border-radius: 6px;
            grid-area: 2 / 2 / 3 / 3;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
              font-size: 16px;
              line-height: 19px;
              font-weight: 400;
              color: #007AFF;
            }
            svg {
              margin: 0 10px;
            }
          }
        }
      }
      .Money-Info {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        width: 600px;
        .Shorts {
          display: grid; 
          grid-template-columns: repeat(2, 1fr); 
          grid-template-rows: 1fr;
          grid-area: 1 / 1 / 2 / 3;
          grid-column-gap: 10px;
          width: 600px;
          .Price {
            grid-area: 1 / 1 / 2 / 2;
            height: 100px;
            width: 295px;
            border-radius: 15px;
            background-color: #F8F8F8;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .Title {
              font-weight: bold;
              font-size: 24px;
              line-height: 29px;
              color: #434343
            }
            p {
              margin-right: 10px;
              font-weight: normal;
              font-size: 14px;
              line-height: 17px;
              color: #979797;
            }
            .SVG {
              margin: 0 20px;
              height:40px;
              width: 40px;
              > svg {
                height: 40px;
                width: 40px;
              }
            }
          }
          .Time {
            grid-area: 1 / 2 / 2 / 3; 
            height: 100px;
            width: 295px;
            border-radius: 15px;
            background-color: #F8F8F8;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .Title {
              font-weight: bold;
              font-size: 24px;
              line-height: 29px;
              color: #434343
            }
            p {
              margin-right: 10px;
              font-weight: normal;
              font-size: 14px;
              line-height: 17px;
              color: #979797;
            }
            .SVG {
              margin: 0 20px;
              height: 40px;
              width: 40px;
              > svg {
                height: 40px;
                width: 40px;
              }
            }
          }
        }
        .Long {
          grid-area: 2 / 1 / 3 / 3;
          border-radius: 15px;
          background-color: #F8F8F8;
          height: 100px;
          width: 600px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          .Title {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: #434343
          }
          p {
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #979797;
          }
          .SVG {
            margin: 0 20px;
            height: 40px;
            width: 40px;
            > svg {
              height: 40px;
              width: 40px;
            }
          }
        }
      }
    }
    .Active {
      height: 320px;
      width: 600px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      overflow: hidden;
      background-color: #F8F8F8;
      border-radius: 15px;
      & > .Title {
        margin: 30px;
        margin-bottom: 10px !important;
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
        color: #434343;
      }
    }
    .History {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      overflow: hidden;
      min-height: 600px;
      width: 600px;
      & > .Header {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 600px;
        .Title {
          width: 235px;
          font-size: 24px;
          line-height: 29px;
          font-weight: 500;
          color: #434343;
        }
        .Right {
          margin: 0 10px;
          width: 345px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }
      & > .Content {
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }
  }
  .Filter {
    margin-left: 20px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 190px;
    min-height: 45px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    cursor: pointer;
    .Text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #434343;
    }
    .Selected {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #434343;
    }
    p {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #007AFF;
    }
  }
  .SessionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 220px;
    width: 600px;
    background-color: #f7f7f7;
    box-shadow: none;
    border-radius: 15px;
    margin-bottom: 10px;
    .Left {
      margin: 20px 15px 10px 15px;
      width: 500px;
      display: flex;
      flex-direction: row;
      justify-self: flex-start;
      align-items: center;
      justify-content: flex-start;
      & > div {
        width: 374px;
        height: 50px;
        display: flex;
        flex-direction: column;
        p {
          font-size: 16px;
          line-height: 19px;
          font-weight: 300;
          color: #979797;
        }
        .Name {
          font-size: 24px;
          line-height: 29px;
          font-weight: 500;
          color: #434343;
        }
      }
      .id {
        width: 120px;
        height: 44px;
        font-size: 16px;
        font-weight: 300;
        color: #979797;
      }
    }
    .Right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .Times {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .Box {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 158px;
        height: 60px;
        background: #F8F8F8;
        border: 0.5px solid #979797;
        box-sizing: border-box;
        border-radius: 6px;
        font-size: 24px;
        font-weight: 400;
        color: #434343;
        p {
          font-size: 14px;
          line-height: 17px;
          font-weight: 300;
          color: #434343;
        } 
      }
    }
    &.-active {
      margin-bottom: 20px !important;
      width: 540px !important;
      align-self: center;
      background-color: #FFFFFF !important;
      .Right {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        .Box {
          margin: 0 5px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 158px;
          height: 60px;
          background: #F8F8F8;
          border: none !important;
          box-sizing: border-box;
          border-radius: 6px;
          font-size: 24px;
          font-weight: 400;
          color: #434343;
          p {
            font-size: 14px;
            line-height: 17px;
            font-weight: 300;
            color: #434343;
          } 
        }
      }
      button {
        margin-bottom: 20px;
        height: 60px;
        width: 504px;
        color: #F40F0F;
        background-color: transparent;
        border-radius: 6px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
          background-color: #FFE6E6; 
        }
      }
    }
  }
}

// Phone -- Horizontal
@media (min-width: 480px) and (max-width: 639px) {
  .Client {
    margin: 0;
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .Button-Back {
      height: 24px;
      width: 78px;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-transform: capitalize;
      color: #007AFF;
      background-color: transparent;
      font-size: 16px;
      line-height: 19px;
      outline: none;
      border: none;
      cursor: pointer;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .Header {
      margin-top: 20px;
      margin-bottom: 40px;
      width: 440px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .Client-Info {
        margin-bottom: 40px;
        width: 440px;
        height: 245px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 
            0px 20px 40px rgba(0, 0, 0, 0.05);
        .Primary {
          margin: 30px 35px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .Avatar {
            margin-bottom: 10px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
          }
          .Secondary {
            display: flex;
            flex-direction: column;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #434343;
            .Name {
              font-size: 24px;
              line-height: 29px;
              color: #434343;
              font-weight: 500;
            }
          }
        }
        .General {
          margin: 30px;
          margin-top: 0;
          height: 40px;
          width: 380px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center; 
          .Phone {
            margin: 0 10px;
            width: 185px;
            height: 40px;
            text-align: center;
            background-color: #F8F8F8;
            border-radius: 6px;
            grid-area: 2 / 1 / 3 / 2; 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
              font-size: 16px;
              line-height: 19px;
              font-weight: 400;
              color: #007AFF;
            }
            svg {
              margin: 0 10px;
            }
          }
          .Email {
            margin: 0 10px;
            width: 185px;
            height: 40px;
            text-align: center;
            background-color: #F8F8F8;
            border-radius: 6px;
            grid-area: 2 / 2 / 3 / 3;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
              font-size: 16px;
              line-height: 19px;
              font-weight: 400;
              color: #007AFF;
            }
            svg {
              margin: 0 10px;
            }
          }
        }
      }
      .Money-Info {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        width: 440px;
        .Shorts {
          display: grid; 
          grid-template-columns: repeat(2, 1fr); 
          grid-template-rows: 1fr;
          grid-area: 1 / 1 / 2 / 3;
          grid-column-gap: 10px;
          width: 440px;
          .Price {
            grid-area: 1 / 1 / 2 / 2;
            height: 100px;
            width: 215px;
            border-radius: 15px;
            background-color: #F8F8F8;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .Title {
              font-weight: bold;
              font-size: 24px;
              line-height: 29px;
              color: #434343
            }
            p {
              margin-right: 10px;
              font-weight: normal;
              font-size: 14px;
              line-height: 17px;
              color: #979797;
            }
            .SVG {
              margin: 0 20px;
              height:40px;
              width: 40px;
              > svg {
                height: 40px;
                width: 40px;
              }
            }
          }
          .Time {
            grid-area: 1 / 2 / 2 / 3; 
            height: 100px;
            width: 215px;
            border-radius: 15px;
            background-color: #F8F8F8;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .Title {
              font-weight: bold;
              font-size: 24px;
              line-height: 29px;
              color: #434343
            }
            p {
              margin-right: 10px;
              font-weight: normal;
              font-size: 14px;
              line-height: 17px;
              color: #979797;
            }
            .SVG {
              margin: 0 20px;
              height: 40px;
              width: 40px;
              > svg {
                height: 40px;
                width: 40px;
              }
            }
          }
        }
        .Long {
          grid-area: 2 / 1 / 3 / 3;
          border-radius: 15px;
          background-color: #F8F8F8;
          height: 100px;
          width: 440px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          .Title {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: #434343
          }
          p {
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #979797;
          }
          .SVG {
            margin: 0 20px;
            height: 40px;
            width: 40px;
            > svg {
              height: 40px;
              width: 40px;
            }
          }
        }
      }
    }
    .Active {
      height: 410px;
      width: 440px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      overflow: hidden;
      background-color: #F8F8F8;
      border-radius: 15px;
      & > .Title {
        margin: 30px;
        margin-bottom: 10px !important;
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
        color: #434343;
      }
    }
    .History {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      overflow: hidden;
      min-height: 600px;
      width: 440px;
      & > .Header {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 440px;
        .Title {
          width: 235px;
          font-size: 24px;
          line-height: 29px;
          font-weight: 500;
          color: #434343;
        }
        .Right {
          margin: 0 10px;
          width: 215px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }
      & > .Content {
        width: 440px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }
  }
  .Filter {
    margin-left: 20px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 190px;
    min-height: 45px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    cursor: pointer;
    .Text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #434343;
    }
    .Selected {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #434343;
    }
    p {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #007AFF;
    }
  }
  .SessionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 370px;
    width: 440px;
    background-color: #f7f7f7;
    box-shadow: none;
    border-radius: 15px;
    margin-bottom: 10px;
    .Left {
      margin: 20px 15px 10px 15px;
      width: 340px;
      display: flex;
      flex-direction: row;
      justify-self: flex-start;
      align-items: center;
      justify-content: flex-start;
      & > div {
        width: 374px;
        height: 50px;
        display: flex;
        flex-direction: column;
        p {
          font-size: 16px;
          line-height: 19px;
          font-weight: 300;
          color: #979797;
        }
        .Name {
          font-size: 24px;
          line-height: 29px;
          font-weight: 500;
          color: #434343;
        }
      }
      .id {
        width: 120px;
        height: 44px;
        font-size: 16px;
        font-weight: 300;
        color: #979797;
      }
    }
    .Right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .Box {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 158px;
        height: 60px;
        background: #F8F8F8;
        border: 0.5px solid #979797;
        box-sizing: border-box;
        border-radius: 6px;
        font-size: 24px;
        font-weight: 400;
        color: #434343;
        p {
          font-size: 14px;
          line-height: 17px;
          font-weight: 300;
          color: #434343;
        } 
      }
    }
    &.-active {
      margin-bottom: 20px !important;
      width: 370px !important;
      align-self: center;
      background-color: #FFFFFF !important;
      .Right {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        .Box {
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 161px;
          height: 60px;
          background: #F8F8F8;
          border: none !important;
          box-sizing: border-box;
          border-radius: 6px;
          font-size: 24px;
          font-weight: 400;
          color: #434343;
          p {
            font-size: 14px;
            line-height: 17px;
            font-weight: 300;
            color: #434343;
          } 
          &.-Sum {
            margin-top: 10px;
            width: 340px;
          }
        }
        .Times {
          width: 340px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }
      button {
        margin-bottom: 20px;
        height: 60px;
        width: 340px;
        color: #F40F0F;
        background-color: transparent;
        border-radius: 6px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
          background-color: #FFE6E6; 
        }
      }
    }
  }
}

// Phone -- Vertical
@media (min-width: 320px) and (max-width: 479px) {
  .Client {
    margin: 0;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .Button-Back {
      height: 24px;
      width: 78px;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-transform: capitalize;
      color: #007AFF;
      background-color: transparent;
      font-size: 16px;
      line-height: 19px;
      outline: none;
      border: none;
      cursor: pointer;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .Header {
      margin-top: 20px;
      margin-bottom: 40px;
      width: 280px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .Client-Info {
        margin-bottom: 40px;
        width: 280px;
        height: 295px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 
            0px 20px 40px rgba(0, 0, 0, 0.05);
        .Primary {
          margin: 30px;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .Avatar {
            margin-bottom: 10px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
          }
          .Secondary {
            display: flex;
            flex-direction: column;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #434343;
            .Name {
              font-size: 24px;
              line-height: 29px;
              color: #434343;
              font-weight: 500;
            }
          }
        }
        .General {
          margin: 15px;
          margin-top: 0;
          height: 90px;
          width: 250px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; 
          .Phone {
            width: 245px;
            height: 40px;
            text-align: center;
            background-color: #F8F8F8;
            border-radius: 6px;
            grid-area: 2 / 1 / 3 / 2; 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
              font-size: 16px;
              line-height: 19px;
              font-weight: 400;
              color: #007AFF;
            }
            svg {
              margin: 0 10px;
            }
          }
          .Email {
            margin-top: 10px;
            width: 245px;
            height: 40px;
            text-align: center;
            background-color: #F8F8F8;
            border-radius: 6px;
            grid-area: 2 / 2 / 3 / 3;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
              font-size: 16px;
              line-height: 19px;
              font-weight: 400;
              color: #007AFF;
            }
            svg {
              margin: 0 10px;
            }
          }
        }
      }
      .Money-Info {
        display: grid; 
        grid-row-gap: 20px;
        width: 280px;
        .Shorts {
          display: grid; 
          grid-row-gap: 20px;
          width: 280px;
          .Price {
            height: 100px;
            width: 280px;
            border-radius: 15px;
            background-color: #F8F8F8;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .Title {
              font-weight: bold;
              font-size: 24px;
              line-height: 29px;
              color: #434343
            }
            p {
              margin-right: 10px;
              font-weight: normal;
              font-size: 14px;
              line-height: 17px;
              color: #979797;
            }
            .SVG {
              margin: 0 20px;
              height:40px;
              width: 40px;
              > svg {
                height: 40px;
                width: 40px;
              }
            }
          }
          .Time {
            height: 100px;
            width: 280px;
            border-radius: 15px;
            background-color: #F8F8F8;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .Title {
              font-weight: bold;
              font-size: 24px;
              line-height: 29px;
              color: #434343
            }
            p {
              margin-right: 10px;
              font-weight: normal;
              font-size: 14px;
              line-height: 17px;
              color: #979797;
            }
            .SVG {
              margin: 0 20px;
              height: 40px;
              width: 40px;
              > svg {
                height: 40px;
                width: 40px;
              }
            }
          }
        }
        .Long {
          grid-area: 2 / 1 / 3 / 3;
          border-radius: 15px;
          background-color: #F8F8F8;
          height: 100px;
          width: 280px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          .Title {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: #434343
          }
          p {
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #979797;
          }
          .SVG {
            margin: 0 20px;
            height: 40px;
            width: 40px;
            > svg {
              height: 40px;
              width: 40px;
            }
          }
        }
      }
    }
    .Active {
      height: 410px;
      width: 280px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      overflow: hidden;
      background-color: #F8F8F8;
      border-radius: 15px;
      & > .Title {
        margin: 30px;
        margin-bottom: 10px !important;
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
        color: #434343;
      }
    }
    .History {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      overflow: hidden;
      min-height: 600px;
      width: 280px;
      & > .Header {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 280px;
        height: 140px;
        .Title {
          margin-bottom: 10px;
          width: 280px;
          font-size: 24px;
          line-height: 29px;
          font-weight: 500;
          color: #434343;
        }
        .Right {
          margin: 0 10px;
          width: 280px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }
      & > .Content {
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }
  }
  .Filter {
    margin-left: 20px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 190px;
    min-height: 45px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    cursor: pointer;
    .Text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #434343;
    }
    .Selected {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #434343;
    }
    p {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: #007AFF;
    }
  }
  .SessionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 370px;
    width: 280px;
    background-color: #f7f7f7;
    box-shadow: none;
    border-radius: 15px;
    margin-bottom: 10px;
    .Left {
      margin: 20px 15px 10px 15px;
      width: 220px;
      display: flex;
      flex-direction: row;
      justify-self: flex-start;
      align-items: center;
      justify-content: flex-start;
      & > div {
        width: 240px;
        height: 50px;
        display: flex;
        flex-direction: column;
        p {
          font-size: 14px;
          line-height: 17px;
          font-weight: 300;
          color: #979797;
        }
        .Name {
          font-size: 18px;
          line-height: 21px;
          font-weight: 500;
          color: #434343;
        }
      }
      .id {
        width: 120px;
        height: 44px;
        font-size: 16px;
        font-weight: 300;
        color: #979797;
      }
    }
    .Right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 220px;
      .Box {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 105px;
        height: 60px;
        background: #F8F8F8;
        border: 0.5px solid #979797;
        box-sizing: border-box;
        border-radius: 6px;
        font-size: 18px;
        line-height: 21px;
        font-weight: 400;
        color: #434343;
        p {
          font-size: 14px;
          line-height: 17px;
          font-weight: 300;
          color: #434343;
        } 
      }
    }
    &.-active {
      margin-bottom: 20px !important;
      width: 248px !important;
      align-self: center;
      background-color: #FFFFFF !important;
      .Right {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        width: 218px;
        .Box {
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 105px;
          height: 60px;
          background: #F8F8F8;
          border: none !important;
          box-sizing: border-box;
          border-radius: 6px;
          font-size: 18px;
          line-height: 21px;
          font-weight: 400;
          color: #434343;
          p {
            font-size: 14px;
            line-height: 17px;
            font-weight: 300;
            color: #434343;
          } 
          &.-Sum {
            margin-top: 10px;
            width: 218px;
          }
        }
        .Times {
          width: 218px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }
      button {
        margin-bottom: 20px;
        height: 60px;
        width: 218px;
        color: #F40F0F;
        background-color: transparent;
        border-radius: 6px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
          background-color: #FFE6E6; 
        }
      }
    }
  }
}