// PC
@media (min-width: 1200px) {
  .Club {
    margin: 0;
    width: 1090px;
    display: flex;
    flex-direction: column;
    .Header {
      width: 1135px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 38px;
        line-height: 46px;
        font-weight: 600;
        color: #434343;
      }
      .Button {
        padding: 10px;
        height: 60px;
        width: 170px;
        color: #ffffff;
        background-color: #007AFF;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        border-radius: 15px;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        p {
          font-size: 18px;
          line-height: 22px;
          font-weight: 400;
          color: #ffffff;
        }
      }
    }
    .Club-Grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-bottom: 20px;
    }
    .Worker-Grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}

// Tablet -- Horizontal
@media (min-width: 960px) and (max-width: 1200px) {
}

// Tablet -- Vertical
@media (min-width: 640px) and (max-width: 960px) {
}

// Phone -- Horizontal
@media (min-width: 480px) and (max-width: 640px) {
}

// Phone -- Vertical
@media (min-width: 320px) and (max-width: 480px) {
}