@import './variables';
// PC
@media (min-width: 1200px){
  .CustomSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    min-height: 55px;
    background: $all-main-white;
    box-shadow: $Big-Blur;
    border-radius: 15px;
    cursor: pointer;
    .Text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: $all-main-black;
    }
    & > .Item {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: $all-main-blue;
      &-show-true {
        padding: 10px;
      }
      &-show-false {
        display: none;
        padding: 0;
      }
    }
  }
  .Session-Card {
    margin: 10px 20px;
    margin-top: 0;
    padding: 0 15px;
    width: 750px;
    height: 134px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: $all-main-white;
    box-shadow: $Map-Shadow;
    cursor: pointer;
    .Right {
      width: 400px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .Client {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        .Avatar {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          background-color: #E40000;
          &.-active {
            background-color: #00E440 !important;
          }
        }
        .Info {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          .Name {
            font-size: 24px;
            line-height: 29px;
            font-weight: 500;
            margin-bottom: 2px;
          }
          .Phone {
            font-size: 16px;
            font-weight: 200;
            line-height: 19px;
            color: $all-main-black;
          }
        }
      }
      .Club {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p {
          font-size: 18px;
          line-height: 22px;
          font-weight: 300;
          color: $all-main-active-gray;
        }
      }
    }
    .Session { 
      margin: 0 10px;
      width: 100%;
      height: 84px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      p {
        margin: 0;
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
      }
      .Start-Time {
        font-size: 16px;
        line-height: 19px;
        color: $all-main-active-gray;
        font-weight: 300;
      }
    }
  }
  .ClubCard {
    width: 540px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: $Big-Blur;
    .Avatar {
      margin: 20px;
      height: 300px;
      width: 500px;
      border-radius: 15px;
    }
    .Content{
      width: 500px;
      margin: 0 20px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .Name {
        margin-left: 15px;
        align-self: flex-start;
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
        color: $all-main-black;
      }
      .Info {
        margin-bottom: 20px;
        width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .Left {
          margin-left: 15px;
          display: flex;
          flex-direction: column;
          & > p {
            width: 220px;
            font-size: 18px;
            line-height: 22px;
            font-weight: 300;
            color: $all-main-active-gray;
          }
        }
        .Right {
          margin-right: 15px;
          display: flex;
          flex-direction: column;
          & > p {
            font-size: 18px;
            line-height: 22px;
            font-weight: 300;
            color: $all-main-active-gray;
          }
        }
      }
      .Info-Cards {
        margin: 0 15px;
        margin-bottom: 20px;
        width: 490px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .Paper {
          width: 140px;
          height: 42px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 6px;
          background-color: $all-main-light-gray;
          font-size: 18px;
          line-height: 22px;
          font-weight: 400;
          .Green {
            color: #00DF31;
          }
          .White {
            color: $all-main-white;
          }
          .Black {
            color: $all-main-black;
          }
          &.-Black {
            background-color: $all-main-black !important;
          }
        }
      }
    }
  }
  .WorkerCard {
    width: 365px;
    height: 135px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: $Big-Blur;
    .Avatar {
      margin: 0 20px;
      height: 95px;
      width: 95px;
      border-radius: 50%;
    }
    > div {
      margin-right: 20px;
      width: 210px;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 16px;
      line-height: 19px;
      font-weight: 300;
      color: $all-main-active-gray;
      .Name {
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
        color: $all-main-black;
      }
    }
  }
}

// Tablet -- Horizontal
@media (min-width: 960px) and (max-width: 1199px) {
  .CustomSelect {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 230px;
    min-height: 55px;
    background: $all-main-white;
    box-shadow: $Big-Blur;
    border-radius: 15px;
    cursor: pointer;
    .Text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: $all-main-black;
    }
    & > .Item {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: $all-main-blue;
      &-show-true {
        padding: 10px;
      }
      &-show-false {
        display: none;
        padding: 0;
      }
    }
  }
  .Session-Card {
    margin: 5px 15px;
    padding: 0 15px;
    width: 530px;
    height: 134px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: $all-main-white;
    box-shadow: $Map-Shadow;
    cursor: pointer;
    .Right {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      .Client {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        .Avatar {
          margin: 0 10px;
          height: 60px;
          width: 60px;
          border-radius: 50%;
          background-color: #E40000;
          &.-active {
            background-color: #00E440 !important;
          }
        }
        .Info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          .Name {
            font-size: 24px;
            line-height: 29px;
            font-weight: 500;
          }
          .Phone {
            font-size: 16px;
            font-weight: 200;
            line-height: 19px;
            color: $all-main-black;
          }
        }
      }
      .Club {
        margin: 10px;
        margin-top: 0px !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p {
          font-size: 18px;
          line-height: 21px;
          font-weight: 300;
          color: $all-main-active-gray;
        }
      }
    }
    .Session { 
      margin: 0 10px;
      width: 180px;
      height: 84px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      p {
        margin: 0;
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
      }
      .Start-Time {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 19px;
        color: $all-main-active-gray;
        font-weight: 300;
      }
    }
  }
}

// Tablet -- Vertical
@media screen and (min-width: 640px) and (max-width: 959px) {
  .CustomSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    min-height: 55px;
    background: $all-main-white;
    box-shadow: $Big-Blur;
    border-radius: 15px;
    cursor: pointer;
    .Text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: $all-main-black;
    }
    & > .Item {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: $all-main-blue;
      &-show-true {
        padding: 10px;
      }
      &-show-false {
        display: none;
        padding: 0;
      }
    }
  }
  .Session-Card {
    margin: 5px 15px;
    padding: 0 15px;
    width: 530px;
    height: 134px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: $all-main-white;
    box-shadow: $Map-Shadow;
    cursor: pointer;
    .Right {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: center;
      .Client {
        display: flex;
        flex-direction: row;
        align-items: center;
        .Avatar {
          margin: 0 10px;
          height: 60px;
          width: 60px;
          border-radius: 50%;
          background-color: #E40000;
          &.-active {
            background-color: #00E440 !important;
          }
        }
        .Info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          .Name {
            font-size: 24px;
            line-height: 29px;
            font-weight: 500;
          }
          .Phone {
            color: $all-main-black;
            font-size: 16px;
            font-weight: 200;
            line-height: 19px;
          }
        }
      }
      .Club {
        margin: 10px;
        margin-top: 0px !important;
        width: 247px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p {
          font-size: 18px;
          line-height: 22px;
          color: $all-main-active-gray;
          font-weight: 300;
        }
      }
    }
    .Session { 
      margin: 0 10px;
      width: 180px;
      height: 84px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      p {
        margin: 0;
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
      }
      .Start-Time {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 19px;
        color: $all-main-active-gray;
        font-weight: 300;
      }
    }
  }
}

// Phone -- Horizontal
@media screen and (min-width: 480px) and (max-width: 639px) {
  .CustomSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    min-height: 45px;
    background: $all-main-white;
    box-shadow: $Big-Blur;
    border-radius: 15px;
    .Text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      color: $all-main-black;
    }
    .Item {
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      color: $all-main-blue;
      &-show-true {
        padding: 10px;
      }
      &-show-false {
        display: none;
        padding: 0;
      }
    }
  }
  .Session-Card {
    margin: 5px 15px;
    padding: 0 15px;
    width: 380px;
    height: 134px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: $all-main-white;
    box-shadow: $Map-Shadow;
    cursor: pointer;
    .Right {
      display: flex;
      flex-direction: column-reverse;
      .Client {
        display: flex;
        flex-direction: row;
        align-items: center;
        .Avatar {
          margin-right: 10px;
          height: 53px;
          width: 53px;
          border-radius: 50%;
          background-color: #E40000;
          &.-active {
            background-color: #00E440 !important;
          }
        }
        .Info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          .Name {
            font-size: 24px;
            line-height: 29px;
            font-weight: 500;
          }
          .Phone {
            color: $all-main-black;
            font-size: 16px;
            font-weight: 200;
            line-height: 19px;
          }
        }
      }
      .Club {
        margin: 5px;
        margin-bottom: 10px;
        margin-top: 0px !important;
        width: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p {
          font-size: 16px;
          line-height: 19px;
          font-weight: 300;
          color: $all-main-active-gray;
        }
      }
    }
    .Session { 
      width: 180px;
      height: 84px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      p {
        margin: 0;
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
      }
      .Start-Time {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 19px;
        color: $all-main-active-gray;
        font-weight: 300;
      }
    }
  }
}

// Phone -- Vertical
@media (min-width: 320px) and  (max-width: 479px) {
  .CustomSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    min-height: 55px;
    background: $all-main-white;
    box-shadow: $Big-Blur;
    border-radius: 15px;
    .Text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      color: $all-main-black;
    }
    & > .Item {
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      color: $all-main-blue;
      &-show-true {
        padding: 10px;
      }
      &-show-false {
        display: none;
        padding: 0;
      }
    }
  }
  .Session-Card {
    background-color: $all-main-white;
    padding: 0 15px;
    width: 210px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: $Map-Shadow;
    cursor: pointer;
    .Right {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      .Client {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 45px;
        .Avatar {
          margin-top: 15px;
          height: 55px;
          width: 55px;
          border-radius: 50%;
          background-color: #E40000;
          &.-active {
            background-color: #00E440 !important;
          }
        }
        .Info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          .Name {
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
            color: $all-main-black;
          }
          .Phone {
            font-size: 14px;
            font-weight: 200;
            line-height: 17px;
            color: $all-main-black;
          }
        }
      }
      .Club {
        height: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        p {
          font-size: 14px;
          line-height: 17px;
          font-weight: 300;
          color: $all-main-active-gray;
        }
      }
    }
    .Session { 
      margin-bottom: 15px !important;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .Start-Time {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 17px;
        color: $all-main-active-gray;
        background-color: transparent !important;
        font-weight: 300;
      }
      .Times {
        width: 100%;
        height: 38px;
        margin-top: 10px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p {
          align-self: center;
          text-align: center;
          align-content: center;
          margin: 0;
          font-size: 18px;
          line-height: 40px;
          font-weight: 500;
          width: 100px;
          height: 40px;
          background-color: #F8F8F8;
          border-radius: 6px;
          color: $all-main-black;
        }
      }
    }
  }
}