@import './variables';
// PC
@media (min-width: 1200px) {
  .History {
    width: 1090px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .Header {
      margin-bottom: 20px;
      width: 1090px;
      height: 55px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      .Title {
        font-size: 34px;
        font-weight: 500;
        line-height: 46px;
        color: #434343; 
      }
      .Right {
        width: 715px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .Intervals {
          margin-left: 20px;
          width: 300px;
          height: 55px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 15px;
          background-color: #f9f9f9;
          color: $all-main-blue;
          .Interval-Active {
            margin: 6px 0;
            width: 90px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            box-shadow: $Map-Shadow;
            color: $all-main-black;
          }
          .Interval {
            cursor: pointer;
          }
        }
      }
    }
    .Statistics {
      margin-bottom: 60px;
      width: 1090px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .Stats-Container {
        width: 780px;
        height: 250px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #f9f9f9;
        border-radius: 15px;
        .Name {
          font-size: 24px;
          line-height: 29px;
          color: $all-main-black;
          font-weight: 400;
        }
        .Stats {
          width: 750px;
          height: 250px;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-between;
          .Stat {
            margin: 0 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            > p {
              margin: 5px;
              font-size: 18px;
              line-height: 22px;
              color: $all-main-black;
            }
            .Stat-Box {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              min-width: 72px;
              min-height: 60px;
              max-height: 160px;
              border-radius: 6px;
              font-size: 18px;
              line-height: 22px;

            }
          }
        }
      }
      .Boxes {
        margin-left: 20px;
        display: grid;
        grid-auto-columns: auto(1, 1fr);
        gap: 20px;
        .Box {
          width: 295px;
          height: 120px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          border-radius: 15px;
          background-color: #f9f9f9;
          > svg {
            margin: 0 20px;
            width: 40px;
            height: 40px;
          }
          > div {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            color: $all-main-black;
            .Info {
              font-size: 38px;
              font-weight: 500;
              line-height: 46px;
            }
          }
        }
      }
    }
    .Sub-Header {
      margin-bottom: 20px;
      width: 1090px;
      height: 55px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      .Title {
        font-size: 34px;
        font-weight: 500;
        line-height: 46px;
        color: #434343; 
      }
      .Right {
        width: 715px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
      }
    }
    .Sessions {
      padding-top: 10px;
      margin-bottom: 20px;
      width: 1090px;
      min-height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f9f9f9;
      border-radius: 15px;
      .Session-Card {
        margin: 5px 20px;
        width: 1030px;
        height: 134px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        box-shadow: $Big-Blur;
        .Left {
          margin-left: 20px;
          width: 180px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          > img {
            margin-right: 10px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
          .Info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 16px;
            line-height: 19px;
            font-weight: 200;
            .Name {
              font-size: 24px;
              line-height: 29px;
              font-weight: 500;
            }
          }
        }
        .Center {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          > p {
            margin: 0 5px;
            font-size: 18px;
            line-height: 22px;
            font-weight: 300;
          }
        }
        .Right {
          margin-right: 20px;
          width: 180px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: $all-main-black;
          .Start-Time {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #979797;
          }
        }
      }
    }
  }
}

// Tablet -- Horizontal
@media (min-width: 960px) and (max-width: 1119px) {
  .History {
    width: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .Header {
      margin-bottom: 20px;
      width: 880px;
      height: 55px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      .Title {
        font-size: 34px;
        font-weight: 500;
        line-height: 46px;
        color: #434343; 
      }
      .Right {
        width: 700px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .Intervals {
          margin-left: 20px;
          width: 300px;
          height: 55px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 15px;
          background-color: #f9f9f9;
          color: $all-main-blue;
          .Interval-Active {
            margin: 6px 0;
            width: 90px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            box-shadow: $Map-Shadow;
            color: $all-main-black;
          }
          .Interval {
            cursor: pointer;
          }
        }
      }
    }
    .Statistics {
      margin-bottom: 60px;
      width: 880px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .Stats-Container {
        width: 650px;
        height: 250px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #f9f9f9;
        border-radius: 15px;
        .Name {
          font-size: 24px;
          line-height: 29px;
          color: $all-main-black;
          font-weight: 400;
        }
        .Stats {
          width: 630px;
          height: 250px;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-between;
          .Stat {
            margin: 0 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            > p {
              margin: 5px;
              font-size: 18px;
              line-height: 22px;
              color: $all-main-black;
            }
            .Stat-Box {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              min-width: 72px;
              min-height: 60px;
              max-height: 160px;
              border-radius: 6px;
              font-size: 18px;
              line-height: 22px;
            }
          }
        }
      }
      .Boxes {
        margin-left: 20px;
        display: grid;
        grid-auto-columns: auto(1, 1fr);
        gap: 20px;
        .Box {
          width: 213px;
          height: 120px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          border-radius: 15px;
          background-color: #f9f9f9;
          > svg {
            margin: 0 20px;
            width: 40px;
            height: 40px;
          }
          > div {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            line-height: 17px;
            color: $all-main-black;
            .Info {
              font-size: 24px;
              font-weight: 500;
              line-height: 29px;
            }
          }
        }
      }
    }
    .Sub-Header {
      margin-bottom: 20px;
      width: 880px;
      height: 55px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      .Title {
        width: 400px;
        font-size: 34px;
        font-weight: 500;
        line-height: 46px;
        color: #434343; 
      }
      .Right {
        width: 480px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
      }
    }
    .Sessions {
      padding-top: 10px;
      margin-bottom: 20px;
      width: 880px;
      min-height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f9f9f9;
      border-radius: 15px;
      .Session-Card {
        margin: 5px 20px;
        width: 820px;
        height: 134px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        box-shadow: $Big-Blur;
        .Left {
          margin-left: 20px;
          width: 180px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          > img {
            margin-right: 10px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
          .Info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 16px;
            line-height: 19px;
            font-weight: 200;
            .Name {
              font-size: 24px;
              line-height: 29px;
              font-weight: 500;
            }
          }
        }
        .Center {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          > p {
            margin: 0 5px;
            font-size: 18px;
            line-height: 22px;
            font-weight: 300;
          }
        }
        .Right {
          margin-right: 20px;
          width: 180px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: $all-main-black;
          .Start-Time {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #979797;
          }
        }
      }
    }
  }
}

// Tablet -- Vertical
@media (min-width: 640px) and (max-width: 959px) {
  .History {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .Header {
      margin-bottom: 20px;
      width: 600px;
      height: 55px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      .Title {
        font-size: 34px;
        font-weight: 500;
        line-height: 46px;
        color: #434343; 
      }
      .Right {
        width: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .Intervals {
          margin-left: 20px;
          width: 300px;
          height: 55px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 15px;
          background-color: #f9f9f9;
          color: $all-main-blue;
          .Interval-Active {
            margin: 6px 0;
            width: 90px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            box-shadow: $Map-Shadow;
            color: $all-main-black;
          }
          .Interval {
            cursor: pointer;
          }
        }
      }
    }
    .Statistics {
      margin-bottom: 40px;
      width: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .Stats-Container {
        width: 600px;
        height: 250px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #f9f9f9;
        border-radius: 15px;
        .Name {
          font-size: 24px;
          line-height: 29px;
          color: $all-main-black;
          font-weight: 400;
        }
        .Stats {
          width: 600px;
          height: 250px;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-between;
          .Stat {
            margin: 0 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            > p {
              margin: 5px;
              font-size: 18px;
              line-height: 22px;
              color: $all-main-black;
            }
            .Stat-Box {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              min-width: 72px;
              min-height: 60px;
              max-height: 160px;
              border-radius: 6px;
              font-size: 18px;
              line-height: 22px;
            }
          }
        }
      }
      .Boxes {
        width: 600px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .Box {
          width: 295px;
          height: 120px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          border-radius: 15px;
          background-color: #f9f9f9;
          > svg {
            margin: 0 20px;
            width: 40px;
            height: 40px;
          }
          > div {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            line-height: 17px;
            color: $all-main-black;
            font-weight: 300;
            .Info {
              font-size: 24px;
              font-weight: 500;
              line-height: 29px;
            }
          }
        }
      }
    }
    .Sub-Header {
      margin-bottom: 20px;
      width: 600px;
      height: 55px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      .Title {
        width: 300px;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        color: #434343; 
      }
      .Right {
        width: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
      }
    }
    .Sessions {
      padding-top: 10px;
      margin-bottom: 20px;
      width: 600px;
      min-height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f9f9f9;
      border-radius: 15px;
      .Session-Card {
        margin: 5px 20px;
        width: 540px;
        height: 134px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        box-shadow: $Big-Blur;
        .Left {
          margin-left: 15px;
          width: 180px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          > img {
            margin-right: 10px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
          .Info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 16px;
            line-height: 19px;
            font-weight: 200;
            .Name {
              font-size: 24px;
              line-height: 29px;
              font-weight: 500;
            }
          }
        }
        .Center {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          > p {
            margin: 0 5px;
            font-size: 16px;
            line-height: 19px;
            font-weight: 300;
          }
        }
        .Right {
          margin-right: 15px;
          width: 180px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          font-weight: 500;
          font-size: 21px;
          line-height: 24px;
          color: $all-main-black;
          .Start-Time {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #979797;
          }
        }
      }
    }
  }
}

// Phone -- Horizontal
@media (min-width: 480px) and (max-width: 639px) {
  .History {
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .Header {
      margin-bottom: 20px;
      width: 440px;
      height: 55px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .Title {
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        color: #434343; 
      }
      .Right {
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .Intervals {
          visibility: hidden;
          margin-left: 10px;
          width: 200px;
          height: 55px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 15px;
          background-color: #f9f9f9;
          color: $all-main-blue;
          .Interval-Active {
            margin: 6px 0;
            width: 90px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            box-shadow: $Map-Shadow;
            color: $all-main-black;
          }
          .Interval {
            cursor: pointer;
          }
        }
      }
    }
    .Statistics {
      margin-bottom: 40px;
      width: 440px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .Stats-Container {
        width: 440px;
        height: 250px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #f9f9f9;
        border-radius: 15px;
        .Name {
          font-size: 24px;
          line-height: 29px;
          color: $all-main-black;
          font-weight: 400;
        }
        .Stats {
          width: 440px;
          height: 250px;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-between;
          .Stat {
            margin: 0 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            > p {
              margin: 5px;
              font-size: 18px;
              line-height: 22px;
              color: $all-main-black;
            }
            .Stat-Box {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              min-width: 52px;
              min-height: 60px;
              max-height: 160px;
              border-radius: 6px;
              font-size: 16px;
              line-height: 19px;
              color: #979797;
            }
          }
        }
      }
      .Boxes {
        width: 440px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .Box {
          width: 215px;
          height: 120px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          border-radius: 15px;
          background-color: #f9f9f9;
          > svg {
            margin: 0 20px;
            width: 40px;
            height: 40px;
          }
          > div {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            line-height: 17px;
            color: $all-main-black;
            font-weight: 300;
            .Info {
              font-size: 24px;
              font-weight: 500;
              line-height: 29px;
            }
          }
        }
      }
    }
    .Sub-Header {
      margin-bottom: 20px;
      width: 440px;
      height: 85px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .Title {
        width: 300px;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        color: #434343; 
        margin-bottom: 10px;
      }
      .Right {
        width: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
    }
    .Sessions {
      padding-top: 10px;
      margin-bottom: 20px;
      width: 440px;
      min-height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f9f9f9;
      border-radius: 15px;
      .Session-Card {
        margin: 5px 20px;
        width: 400px;
        height: 134px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        box-shadow: $Big-Blur;
        .Left {
          margin-left: 15px;
          width: 243px;
          display: flex;
          flex-direction: column-reverse;
          justify-content: space-between;
          > div {
            display: flex;
            flex-direction: row;
            margin-top: 5px;
            > img {
              margin-right: 10px;
              width: 60px;
              height: 60px;
              border-radius: 50%;
            }
            .Info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              font-size: 16px;
              line-height: 19px;
              font-weight: 200;
              .Name {
                font-size: 24px;
                line-height: 29px;
                font-weight: 500;
              }
            }
          }
          .Center {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            > p {
              font-size: 16px;
              line-height: 19px;
              font-weight: 300;
            }
          }
        }
        .Right {
          margin-right: 15px;
          width: 180px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          font-weight: 500;
          font-size: 21px;
          line-height: 24px;
          color: $all-main-black;
          .Start-Time {
            margin-bottom: 5px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #979797;
          }
        }
      }
    }
  }
}

// Phone -- Vertical
@media (min-width: 320px) and (max-width: 479px) {
  .History {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .Header {
      margin-bottom: 20px;
      width: 280px;
      height: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .Title {
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        color: #434343; 
      }
      .Right {
        width: 280px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        .Intervals {
          visibility: hidden;
          margin-left: 10px;
          width: 200px;
          height: 55px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 15px;
          background-color: #f9f9f9;
          color: $all-main-blue;
          .Interval-Active {
            margin: 6px 0;
            width: 90px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            box-shadow: $Map-Shadow;
            color: $all-main-black;
          }
          .Interval {
            cursor: pointer;
          }
        }
      }
    }
    .Statistics {
      margin-bottom: 40px;
      width: 280px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .Stats-Container {
        width: 280px;
        height: 250px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #f9f9f9;
        border-radius: 15px;
        .Name {
          font-size: 24px;
          line-height: 29px;
          color: $all-main-black;
          font-weight: 400;
        }
        .Stats {
          width: 280px;
          height: 250px;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-between;
          .Stat {
            margin: 0 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            > p {
              margin: 5px;
              font-size: 18px;
              line-height: 22px;
              color: $all-main-black;
            }
            .Stat-Box {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              min-width: 42px;
              min-height: 60px;
              max-height: 160px;
              border-radius: 6px;
              font-size: 16px;
              line-height: 19px;
              color: #979797;
            }
          }
        }
      }
      .Boxes {
        width: 280px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .Box {
          margin-bottom: 10px;
          width: 280px;
          height: 120px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          border-radius: 15px;
          background-color: #f9f9f9;
          > svg {
            margin: 0 20px;
            width: 40px;
            height: 40px;
          }
          > div {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            line-height: 17px;
            color: $all-main-black;
            font-weight: 300;
            .Info {
              font-size: 24px;
              font-weight: 500;
              line-height: 29px;
            }
          }
        }
      }
    }
    .Sub-Header {
      margin-bottom: 20px;
      width: 280px;
      height: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .Title {
        width: 280px;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        color: #434343; 
        margin-bottom: 10px;
      }
      .Right {
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    .Sessions {
      padding-top: 20px;
      margin-bottom: 20px;
      width: 280px;
      min-height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f9f9f9;
      border-radius: 15px;
      .Session-Card {
        margin: 5px 20px;
        width: 230px;
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 15px;
        box-shadow: $Big-Blur;
        .Left {
          margin: 15px;
          margin-bottom: 0;
          width: 230px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          > div {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-bottom: 2px;
            > img {
              width: 45px;
              height: 45px;
              border-radius: 50%;
            }
            .Info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              font-size: 16px;
              line-height: 19px;
              font-weight: 200;
              .Name {
                font-size: 24px;
                line-height: 29px;
                font-weight: 500;
              }
            }
          }
          .Center {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            > p {
              font-size: 16px;
              line-height: 19px;
              font-weight: 300;
            }
          }
        }
        .Right {
          margin: 15px;
          margin-top: 0;;
          width: 230px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          font-weight: 500;
          font-size: 21px;
          line-height: 24px;
          color: $all-main-black;
          .Start-Time {
            margin-bottom: 10px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #979797;
          }
          > div {
            width: 230px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            > p {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 98px;
              height: 37px;
              background-color: #f9f9f9;
              border-radius: 15px;
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
            }
          }
        }
      }
    }
  }
}