// PC
@media (min-width: 1200px) {
  .Login-Background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Login {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(0, 0, 0, 0.05);
    & > .Title {
      margin-top: 30px;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 38px;
      line-height: 42px;
      color:  #434343;
    }
    & > .Title-2 {
      color: #B7B7B7;
      font-size: 16px;
      line-height: 19px;
      font-weight: normal;
      margin-bottom: 30px;
    }
    input {
      margin: 10px 0px;
      padding: 0 10px;
      width: 380px;
      background-color: #f7f7f7;
      border-radius: 15px;
      height: 80px;
      outline: none;
      border: none;
      font-size: 18px;
      line-height: 22px;
    }
    .Login-Button {
      margin-top: 40px;
      width: 400px;
      height: 70px;
      border-radius: 15px;
      background-color: #007AFF;
      border: none;
      color: #FCFCFC;
      font-size: 18px;
      line-height: 21px;
    }
  }
  .Login-Select {
    width: 400px;
    min-height: 60px;
    padding: 5px 30px;
    margin: 20px;
    background-color: #fff;
    color: #434343;
    border-radius: 15px;
    box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > p {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    & > .selected {
      color: #007AFF;
    }
  }
  .Links {
    margin: 0 5px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    a {
      text-decoration: none;
      margin: 2px 0;
      color: #007AFF;
    }
  } 
}
// Tablet -- Horizontal
@media (min-width: 960px) and (max-width: 1199px) {
  .Login-Background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/background.png);
    background-repeat: repeat;
  }
  .Login {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(0, 0, 0, 0.05);
    & > .Title {
      margin-top: 30px;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 38px;
      line-height: 42px;
      color:  #434343;
    }
    & > .Title-2 {
      color: #B7B7B7;
      font-size: 16px;
      line-height: 19px;
      font-weight: normal;
      margin-bottom: 30px;
    }
    input {
      margin: 10px 0px;
      padding: 0 10px;
      width: 380px;
      background-color: #f7f7f7;
      border-radius: 15px;
      height: 80px;
      outline: none;
      border: none;
      font-size: 18px;
      line-height: 22px;
    }
    .Login-Button {
      margin-top: 40px;
      width: 400px;
      height: 70px;
      border-radius: 15px;
      background-color: #007AFF;
      border: none;
      color: #FCFCFC;
      font-size: 18px;
      line-height: 21px;
    }
  }
  .Login-Select {
    width: 400px;
    min-height: 60px;
    padding: 5px 30px;
    margin: 20px;
    background-color: #fff;
    color: #434343;
    border-radius: 15px;
    box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > p {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    & > .selected {
      color: #007AFF;
    }
  }
  .Links {
    margin: 0 5px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    a {
      text-decoration: none;
      margin: 2px 0;
      color: #007AFF;
    }
  } 
}

// Tablet -- Vertical
@media (min-width: 640px) and (max-width: 959px) {
  .Login-Background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/background.png);
    background-repeat: repeat;
  }
  .Login {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(0, 0, 0, 0.05);
    & > .Title {
      margin-top: 30px;
      font-weight: bold;
      font-size: 38px;
      line-height: 42px;
      color:  #434343;
    }
    & > .Title-2 {
      color: #B7B7B7;
      font-size: 16px;
      line-height: 19px;
      font-weight: normal;
      margin-bottom: 30px;
    }
    input {
      margin: 10px 0px;
      padding: 0 10px;
      width: 370px;
      background-color: #f7f7f7;
      border-radius: 15px;
      height: 80px;
      outline: none;
      border: none;
      font-size: 18px;
      line-height: 22px;
    }
    .Login-Button {
      margin-top: 40px;
      width: 390px;
      height: 70px;
      border-radius: 15px;
      background-color: #007AFF;
      border: none;
      color: #FCFCFC;
      font-size: 18px;
      line-height: 21px;
    }
  }
  .Login-Select {
    width: 400px;
    min-height: 45px;
    padding: 5px 30px;
    margin: 20px;
    background-color: #fff;
    color: #434343;
    border-radius: 15px;
    box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > p {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    & > .selected {
      color: #007AFF;
    }
  }
  .Links {
    margin: 0 5px;
    margin-top: 15px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    a {
      text-decoration: none;
      margin: 2px 0;
      color: #007AFF;
    }
  } 
}

// Phone -- Horizontal
@media (min-width: 480px) and (max-width: 639px) {
  .Login-Background {
    width: 100%;
    height: 100%;
    background-image: url(../images/background.png);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Login {
    margin-top: 0;
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(0, 0, 0, 0.05);
    & > .Title {
      margin-top: 30px;
      font-weight: bold;
      font-size: 38px;
      line-height: 42px;
      color:  #434343;
      margin-bottom: 5px;
    }
    & > .Title-2 {
      color: #B7B7B7;
      font-size: 16px;
      line-height: 19px;
      font-weight: normal;
      margin-bottom: 30px;
    }
    input {
      margin: 10px 0px;
      padding: 0 10px;
      width: 370px;
      background-color: #f7f7f7;
      border-radius: 15px;
      height: 70px;
      outline: none;
      border: none;
      font-size: 19px;
      line-height: 22px;
    }
    .Login-Button {
      margin-top: 40px;
      margin-bottom: 10px;
      width: 390px;
      outline: none;
      border: none;
      height: 60px;
      border-radius: 15px;
      background-color: #007AFF;
      color: #FCFCFC;
      font-size: 18px;
      line-height: 21px;
    }
  }
  .Login-Select {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 5px 30px;
    width: 390px;
    min-height: 45px;
    background-color: #fff;
    font-size: 18px;
    line-height: 22px;
    color: #434343;
    border-radius: 15px;
    box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > p {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    & > .selected {
      color: #007AFF;
    }
  }
  .Links {
    margin: 0 5px;
    margin-top: 15px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    a {
      text-decoration: none;
      margin: 2px 0;
      color: #007AFF;
    }
  } 
}

// Phone -- Vertical
@media (min-width: 320px) and (max-width: 479px) {
  .Login-Background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/background.png);
    background-repeat: repeat;
  }
  .Login {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(0, 0, 0, 0.05);
    & > .Title {
      margin-top: 20px;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 38px;
      line-height: 42px;
      color:  #434343;
    }
    & > .Title-2 {
      color: #B7B7B7;
      font-size: 16px;
      line-height: 19px;
      font-weight: normal;
      margin-bottom: 20px;
    }
    input {
      margin: 10px 0px;
      height: 60px;
      width: 220px;
      background-color: #f7f7f7;
      border-radius: 15px;
      outline: none;
      border: none;
      font-size: 16px;
      line-height: 19px;
      padding: 5px 10px;
    }
    .Login-Button {
      margin-top: 40px;
      padding: 10px 10px;
      width: 240px;
      height: 60px;
      border-radius: 15px;
      background-color: #007AFF;
      color: #FCFCFC;
      font-size: 18px;
      line-height: 21px;
      outline: none;
      border: none;
    }
  }
  .Login-Select {
    margin: 0px;
    width: 240px;
    min-height: 45px;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #434343;
    font-size: 16px;
    line-height: 19px;
    & > p {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    & > .selected {
      color: #007AFF;
    }
  }
  .Links {
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    a {
      text-decoration: none;
      margin: 2px 0;
      color: #007AFF;
    }
  }
}