@import './variables';

// PC
@media (min-width: 1200px) {
  .Main {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 1135px;
    .Header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 1135px;
      height: 62px;
      .Title {
        margin-bottom: 0;
        color: #434343;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
      }
    }
    .Page {
      display: flex;
      flex-direction: row;
      margin-top: 40px;
      width: 1135px;
      .Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 810px;
        .Post-Header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 810px;
          .Tabs {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            background-color: #f8f8f8;
            border-radius: 15px;
            height: 70px;
            width: 350px;
            margin-right: 5px;
            .Tab {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 15px;
              height: 50px;
              width: 160px;
              color: #007AFF;
              font-size: 18px;
              line-height: 22px;
              font-weight: 400;
              &.-active {
                background-color: #FFFFFF;
                color: #434343;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
              }
            }
          }
          .Search {
            margin-left: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 450px;
            height: 70px;
            background: #F8F8F8;
            border-radius: 15px;
          }
        }
        .Sessions {
          margin-top: 20px;
          margin-bottom: 40px;
          padding-top: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          overflow: hidden;
          min-height: 660px;
          width: 810px;
          border-radius: 15px;
          background-color: #F9F9F9;
        }
      }
      .Info {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
        .Info-Paper {
          margin-bottom: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          background-color: #F9F9F9;
          border-radius: 15px;
          height: 110px;
          width: 310px;
          svg {
            margin-left: 20px;
          }
          .Info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .Money {
              font-size: 38px;
              line-height: 46px;
              font-weight: 600;
              color: #434343;
            }
            .Description {
              font-size: 18px;
              line-height: 22px;
              color: #979797;
            }
          }
        }
      }
    }
  }
}

// Tablet -- Horizontal
@media (min-width: 960px) and (max-width: 1199px) {
  .Main {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 880px;
    .Header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 880px;
      height: 62px;
      .Title {
        width: 400px;
        margin-bottom: 0;
        color: #434343;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
      }
    }
    .Page {
      display: flex;
      flex-direction: row;
      margin-top: 40px;
      width: 880px;
      .Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
        .Post-Header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 600px;
          .Tabs {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            background-color: #f8f8f8;
            border-radius: 15px;
            height: 70px;
            width: 300px;
            margin-right: 5px;
            .Tab {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 15px;
              height: 55px;
              width: 130px;
              color: #007AFF;
              font-size: 18px;
              line-height: 22px;
              font-weight: 400;
              &.-active {
                background-color: #FFFFFF;
                color: #434343;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
              }
            }
          }
          .Search {
            margin-left: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 280px;
            height: 70px;
            background: #F8F8F8;
            border-radius: 15px;
          }
        }
        .Sessions {
          margin-top: 20px;
          margin-bottom: 40px;
          padding-top: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          overflow: hidden;
          min-height: 660px;
          width: 600px;
          border-radius: 15px;
          background-color: #F9F9F9;
        }
      }
      .Info {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
        .Info-Paper {
          margin-bottom: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          background-color: #F9F9F9;
          border-radius: 15px;
          height: 110px;
          width: 265px;
          svg {
            margin-left: 20px;
          }
          .Info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .Money {
              font-size: 38px;
              line-height: 46px;
              font-weight: 600;
              color: #434343;
            }
            .Description {
              font-size: 18px;
              line-height: 22px;
              color: #979797;
            }
          }
        }
      }
    }
  }
}

// Tablet -- Vertical
@media (min-width: 640px) and (max-width: 959px) {
  .Main {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    .Header {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      max-width: 600px;
      height: 62px;
      .Title {
        margin-bottom: 0;
        color: #434343;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 42px;
      }
    }
    .Page {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 40px;
      width: 600px;
      .Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
        .Post-Header {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 600px;
          .Tabs {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            background-color: #f8f8f8;
            border-radius: 15px;
            height: 60px;
            width: 600px;
            margin-right: 5px;
            margin-bottom: 40px;
            .Tab {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 15px;
              height: 50px;
              width: 280px;
              color: #007AFF;
              font-size: 18px;
              line-height: 22px;
              font-weight: 400;
              &.-active {
                background-color: #FFFFFF;
                color: #434343;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
              }
            }
          }
          .Search {
            margin-left: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 600px;
            height: 60px;
            background: #F8F8F8;
            border-radius: 15px;
          }
        }
        .Sessions {
          margin-top: 20px;
          margin-bottom: 40px;
          padding-top: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          overflow: hidden;
          min-height: 660px;
          width: 600px;
          border-radius: 15px;
          background-color: #F9F9F9;
        }
      }
      .Info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .Info-Paper {
          margin-bottom: 40px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          background-color: #F9F9F9;
          border-radius: 15px;
          height: 110px;
          width: 295px;
          svg {
            margin-left: 20px;
            margin-right: 10px;
          }
          .Info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .Money {
              font-size: 38px;
              line-height: 46px;
              font-weight: 600;
              color: #434343;
            }
            .Description {
              font-size: 18px;
              line-height: 22px;
              color: #979797;
            }
          }
        }
      }
    }
  }
}

// Phone -- Horizontal
@media (min-width: 480px) and (max-width: 639px) {
  .Main {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 440px;
    .Header {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      max-width: 440px;
      height: 62px;
      .Title {
        margin-bottom: 0;
        color: #434343;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
      }
    }
    .Page {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 40px;
      width: 440px;
      .Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 440px;
        .Post-Header {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 440px;
          .Tabs {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            background-color: #f8f8f8;
            border-radius: 15px;
            height: 60px;
            width: 440px;
            margin-right: 5px;
            margin-bottom: 40px;
            .Tab {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 15px;
              height: 50px;
              width: 200px;
              color: #007AFF;
              font-size: 16px;
              line-height: 19px;
              font-weight: 400;
              &.-active {
                background-color: #FFFFFF;
                color: #434343;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
              }
            }
          }
          .Search {
            margin-left: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 440px;
            height: 60px;
            background: #F8F8F8;
            border-radius: 15px;
          }
        }
        .Sessions {
          margin-top: 20px;
          margin-bottom: 30px;
          padding-top: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          overflow: hidden;
          min-height: 600px;
          width: 440px;
          border-radius: 15px;
          background-color: #F9F9F9;
        }
      }
      .Info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .Info-Paper {
          margin-bottom: 30px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          background-color: #F9F9F9;
          border-radius: 15px;
          height: 110px;
          width: 210px;
          svg {
            margin-left: 20px;
            margin-right: 10px;
          }
          .Info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .Money {
              font-size: 24px;
              line-height: 29px;
              font-weight: 600;
              color: #434343;
            }
            .Description {
              font-size: 16px;
              line-height: 19px;
              color: #979797;
            }
          }
        }
      }
    }
  }
}

// Phone -- Vertical
@media (min-width: 320px) and (max-width: 479px) {
  .Main {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .Header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 280px;
      height: 124px;
      margin-bottom: 40px;
      .Title {
        margin-bottom: 5px;
        color: #434343;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
      }
    }
    .Page {
      display: flex;
      flex-direction: column-reverse;
      width: 280px;
      .Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 280px;
        .Post-Header {
          margin-top: 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 280px;
          .Tabs {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            background-color: #f8f8f8;
            border-radius: 15px;
            height: 70px;
            width: 280px;
            .Tab {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 15px;
              height: 51px;
              width: 126px;
              color: #007AFF;
              font-size: 16px;
              line-height: 19px;
              font-weight: 400;
              &.-active {
                background-color: #FFFFFF;
                color: #434343;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
              }
            }
          }
          .Search {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 280px;
            height: 55px;
            background: #F8F8F8;
            border-radius: 15px;
          }
        }
        .Sessions {
          margin-top: 40px;
          padding-top: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          overflow: hidden;
          min-height: 300px;
          width: 280px;
          border-radius: 15px;
          background-color: #F9F9F9;
        }
      }
      .Info {
        display: flex;
        flex-direction: column;
        .Info-Paper {
          margin-bottom: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          background-color: #F9F9F9;
          border-radius: 15px;
          height: 88px;
          width: 280px;
          svg {
            margin: 0 10px;
          }
          .Info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .Money {  
              font-size: 24px;
              line-height: 29px;
              font-weight: 600;
              color: #434343;
            }
            .Description {
              font-size: 16px;
              line-height: 19px;
              color: #979797;
            }
          }
        }
      }
    }
  }
}