@import './variables';

// PC
@media (min-width: 1200px) {
  .Settings {
    width: 1090px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .Title {
      margin-bottom: 20px;
      font-size: 34px;
      font-weight: 500;
      line-height: 46px;
      color: #434343; 
    }
    .Form {
      margin-bottom: 20px;
      width: 610px;
      height: 470px;
      border-radius: 15px;
      box-shadow: $Big-Blur;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #fff;
      .Title-2 {
        margin: 0 30px;
        margin-top: 30px;
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
        color: $all-main-black;
        text-align: start;
      }
      input {
        margin: 0 30px ;
        margin-top: 20px;
        width: 550px;
        height: 65px;
        border-radius: 15px;
        background: rgba(249, 251, 255, 1);
        border: none;
        box-sizing: border-box;
       &:focus {
         border: 0.5px solid rgba(15, 132, 244, 1);
       }
      }
      button {
        margin: 30px;
        margin-top: 20px;
        border-radius: 15px;
        width: 550px;
        height: 60px;
        border: none;
        outline: none;
        background-color: #007AFF;
        &:disabled {
          background-color: #F0F0F0;
        }
      }
    }
    .Logout-Button {
      margin-top: 20px;
      border-radius: 15px;
      width: 610px;
      height: 80px;
      border: none;
      outline: none;
      background-color: #f7f7f7;
      color: $all-main-blue;
      box-shadow: $Big-Blur;
    }
  }
}

// Tablet -- Horizontal
@media (min-width: 960px) and (max-width: 1200px) {
}

// Tablet -- Vertical
@media (min-width: 640px) and (max-width: 960px) {
}

// Phone -- Horizontal
@media (min-width: 480px) and (max-width: 640px) {
}

// Phone -- Vertical
@media (min-width: 320px) and (max-width: 480px) {
}