@use "./styles/_variables.scss";
@use "sass:map";
@import './styles/_fonts.scss';
@import './styles/components.scss';

* {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  justify-content: center;
  height: 100vh;
}
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  font-family: 'SF Pro';
  background-color: map.get($all-main, "white");
}
.Map-Shadow-Blocks {
  border-radius: 15px;
  box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 
          0px 20px 40px rgba(0, 0, 0, 0.05);
}
.Big-Blur {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}


// PC
@media (min-width: 1200px){
  .App {
    margin: 40px auto;
    width: 1200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    .Menu {
      margin-right: 20px;
      width: 80px;
      height: 360px;
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 15px;
      box-shadow: $Map-Shadow;
      background-color: map.get($all-main, "white");
      .Item {
        margin: 20px 10px;
        cursor: pointer;
      }
      svg {
        height: 35px;
        width: 35px;
      }
    }
    .Content {
      width: 1090px;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      justify-content: flex-end;
    }
    .Footer {
      margin-top: 60px;
      width: 1090px;
      bottom: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: flex-end;
      align-items: center;
      height: 80px;
      .Logo {
        p {
          font-weight: 300;
          font-size: 14px;
          color:  map.get($all-main, "active-gray");
        }
      }
      .Phone {
        p {
          font-weight: 300;
          font-size: 14px;
          color:  map.get($all-main, "active-gray");
        }
        .Number {
          margin: 0;
          font-style: normal;
          font-weight: bold;
          font-size: 38px;
          line-height: 42px;
          color: map.get($all-main, "black");
        }
      }
    }
  }
  .Chevron-Button{
    height: 100%;
    display: flex;
    background-color: transparent;
    border: none !important;
    cursor: pointer;
    &:disabled {
      color: map.get($all-main, "active-gray") !important;
      box-shadow: none !important;
    }
    & > .Icon {
      color: map.get($all-main, "active-gray") !important;
    }
  }
  .Input-Placeholder {
    &::placeholder {
      color: #434343,
    }
  }
  .Cap {
    &::first-letter {
      text-transform: capitalize;
    }
  }
  input[type=checkbox]{
    height: 30px;
    width: 30px;
    &:before {
      background: #007AFF;
    }
    &:disabled {
      background: #CCCCCC;
    }
  }
  .Session-Paper {
    width: 240px;
    height: 158px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
  }
  .WorkTime {
    margin: 10px 20px;
    padding: 5px;
    height: 32px;
    width: 74px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    border: none;
    background-color: #fff;
    color: #434343;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    &:disabled {
      background-color: map.get($all-buttons, "disabled") !important;
      box-shadow: none !important;
    }
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 35px;
    background-color: #fff;
    & > .checkbox {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    width: 52px;
    height: 35px;
    background-color: #f0f0f0;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 30px;
      width: 30px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }
  .checkbox:checked + .slider {
    background-color: #007AFF;
  }
  .checkbox:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  .checkbox:checked + .slider::before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
}


// Tablet -- Horizontal
@media (min-width: 960px) and (max-width: 1199px) {
  .App {
    margin-top: 40px;
    width: 880px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    .Menu {
      align-self: center;
      top: 90%;
      padding: 0 10px;
      width: 400px;
      height: 75px;
      position: fixed;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-radius: 15px;
      box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 
          0px 20px 40px rgba(0, 0, 0, 0.05);
      background-color: map.get($all-main, "white");
      .Item {
        margin: 10px 20px;
        cursor: pointer;
      }
      svg {
        height: 35px;
        width: 35px;
      }
    }
    .Content {
      width: 880px;
      display: flex;
      flex-direction: column;
      align-self: center;
    }
    .Footer {
      width: 880px;
      bottom: 40px;
      margin: 0 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      .Logo {
        p {
          font-weight: 300;
          font-size: 14px;
          color:  map.get($all-main, "active-gray");
        }
      }
      .Phone {
        p {
          font-weight: 300;
          font-size: 14px;
          color:  map.get($all-main, "active-gray");
        }
        .Number {
          margin: 0;
          font-style: normal;
          font-weight: bold;
          font-size: 38px;
          line-height: 42px;
          color: map.get($all-main, "black");
        }
      }
    }
  }
}

// Tablet -- Vertical
@media screen and (min-width: 640px) and (max-width: 959px) {
  .App {
    margin-top: 40px;
    height: fit-content;
    width: 600px;
    display: flex;
    flex-direction: column;
    .Menu {
      align-self: center;
      top: 90%;
      padding: 0 10px;
      width: 400px;
      height: 65px;
      position: fixed;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-radius: 15px;
      box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 
          0px 20px 40px rgba(0, 0, 0, 0.05);
      background-color: map.get($all-main, "white");
      .Item {
        margin: 0 20px;
      }
    }
    .Content {
      display: flex;
      flex-direction: column;
    }
    .Footer {
      width: 600px;
      bottom: 40px;
      margin: 0 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      .Logo {
        p {
          font-weight: 300;
          font-size: 14px;
          color:  map.get($all-main, "active-gray");
        }
      }
      .Phone {
        p {
          font-weight: 300;
          font-size: 14px;
          color:  map.get($all-main, "active-gray");
        }
        .Number {
          margin: 0;
          font-style: normal;
          font-weight: bold;
          font-size: 38px;
          line-height: 42px;
          color: map.get($all-main, "black");
        }
      }
    }
  }
}

// Phone -- Horizontal
@media (min-width: 480px) and (max-width: 639px) {
  .App {
    margin-top: 40px;
    height: fit-content;
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .Menu {
      align-self: center;
      top: 90%;
      width: 340px;
      height: 65px;
      position: fixed;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 15px;
      box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 
          0px 20px 40px rgba(0, 0, 0, 0.05);
      background-color: map.get($all-main, "white");
      .Item {
        margin: 10px 20px;
      }
    }
    .Content {
      display: flex;
      flex-direction: column;
    }
    .Footer {
      width: 440px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      .Logo {
        p {
          font-weight: 300;
          font-size: 12px;
          color:  map.get($all-main, "active-gray");
        }
      }
      .Phone {
        p {
          font-weight: 300;
          font-size: 12px;
          color:  map.get($all-main, "active-gray");
        }
        .Number {
          margin: 0;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 29px;
          color: map.get($all-main, "black");
        }
      }
    }
  }
}


// Phone -- Vertical
@media (min-width: 320px) and (max-width: 479px) {
  .App {
    margin-top: 40px;
    height: fit-content;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .Menu {
      align-self: center;
      top: 90%;
      width: 280px;
      height: 65px;
      position: fixed;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-radius: 15px;
      box-shadow: 0px -1px 40px rgba(0, 0, 0, 0.05), 
          0px 20px 40px rgba(0, 0, 0, 0.05);
      background-color: map.get($all-main, "white");
      svg {
        width: 30px;
        height: 30px;
      }
      .Item {
        margin: 0 20px;
      }
    }
    .Content {
      display: flex;
      flex-direction: column;
    }
    .Footer {
      width: 280px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      .Logo {
        height: 70px;
        p {
          font-weight: 300;
          font-size: 9px;
          line-height: 12px;
          color:  map.get($all-main, "active-gray");
        }
      }
      .Phone {
        p {
          font-weight: 300;
          font-size: 9px;
          line-height: 12px;
          color:  map.get($all-main, "active-gray");
        }
        .Number {
          margin: 0;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 17px;
          color: map.get($all-main, "black");
        }
      }
    }
  }
}